body {
    background-color: #7A86B8; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: rgb(116, 116, 235);
    background-color: rgb(132, 190, 171);
}

h2 {
    color: rgb(212, 112, 112);

}

p {
    text-align: justify;

}