body {
    height: 100vh;
    background-color: black;
    background-image: url("imagens/wallpaper002.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: white;
    max-width: 400px;
    margin: 20px auto 20px auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
}